body{
	background-image : url("/img/e.gif");
	background-repeat : no-repeat;
	background-size: cover;
	font-family : "Algerian";
	font-size : 10px;
}
#bnv{
	font-family: "Algerian";
}
#bonjour{
	font-family: "Algerian";
	font-size: 50px;
}

.bouton{
	position : relative;
    vertical-align: top;
    width: 180px;
    height: 40px;
    padding: 11px 31px;
    font-size: 15px;
    font-family: 'Arial';
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: rgb(0, 0, 0);
    border: 0;
    border-radius: 42px;
    cursor: pointer;
}
.bouton:hover {
    background-color:#a7e986;
}
.bouton:active {
    position:relative;
    top:1px;
}
