.body{
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}
 #input{
	cursor: pointer;
}
.grille {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 1270px;
	height: 556px;
	margin: 0px;
	background-image: url("/maps/45-inn.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.grille-ligne {
	display: flex;
	flex-direction: row;
}
.container{
	z-index: 100;
    position: absolute;
    top: 70%; left: 2%;
    transform: translate(20%, 10%);
    width: 100px;
    height: 80px;
    background-color: rgb(145,  145, 145);
    border-radius: 20px;
    border-style: double;

}
.money{
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
	font-family: "Algerian";
}
.life{
	margin-top: 7px;
    font-size: 15px;
    text-align: center;
    font-family: "Algerian";

}
.case{
	float: left;
	width: 60px;
	height: 44px;
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	text-align: center;
}
.perso{
	height: 52px;
	width: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.right{
	background-image: url("/img/test_1.gif");
	height: 52px;
	width: 50px;
}
.left{
	background-image: url("/img/left_1.gif");
	height: 56px;
	width: 50px;
}
.up{
	background-image: url("/img/up_1.gif");
	height: 60px;
	width: 54px;
}
.down{
	background-image: url("/img/down_1.gif");
	height: 58px;
	width: 56px;
}
.perso_right{
	background: url('/img/test.png');
	height: 52px;
	width: 50px;
	z-index: 10;
	-webkit-animation: sprite-animation 0.3s steps(9,end);
	-moz-animation: sprite-animation 0.3s steps(9,end);
	-ms-animation: sprite-animation 0.3s steps(9,end);
	animation: sprite-animation 0.3s steps(9,end);
	animation-fill-mode: forwards;
}
@-webkit-keyframes sprite-animation {
	from { background-position: 0 0; }
	to { background-position: 0 -993px;
		transition: transform 12s linear;
		transform: translate3d(52px, 0, 100px);
	}
}

@-ms-keyframes sprite-animation {
	from { background-position: 0 0; }
	to { background-position: 0 -993px;
		transition: transform 12s linear;
		transform: translate3d(52px, 0, 100px);
	}
}

@-moz-keyframes sprite-animation {
	from { background-position: 0 0; }
	to { background-position: 0 -993px;
		transition: transform 12s linear;
		transform: translate3d(52px, 0, 100px);
	}
}

@keyframes sprite-animation {
	from { background-position: 0 0; }
	to { background-position: 0 -993px;
		transition: transform 12s linear;
		transform: translate3d(52px, 0, 100px);
	}
}
.perso_left{
	background: url('/img/left.png');
	height: 55px;
	width: 50px;
	z-index: 10;
	-webkit-animation: sprite 0.3s steps(9,end);
	-moz-animation: sprite 0.3s steps(9,end);
	-ms-animation: sprite 0.3s steps(9,end);
	animation: sprite 0.3s steps(9,end);
	animation-fill-mode: forwards;
}
@-webkit-keyframes sprite {
	from { background-position: 0 0; }
	to { background-position: -593px 0;
		transition: transform 12s linear;
		transform: translate3d(-45px, 0px, 0px);
	}
}
@-ms-keyframes sprite {
	from { background-position: 0 0; }
	to { background-position: -593px 0;
		transition: transform 12s linear;
		transform: translate3d(-45px, 0px, 0px);
	}
}

@-moz-keyframes sprite {
	from { background-position: 0 0; }
	to { background-position: -593px 0;
		transition: transform 12s linear;
		transform: translate3d(-45px, 0px, 0px);
	}
}

@keyframes sprite {
	from { background-position: 0 0; }
	to { background-position: -593px 0;
		transition: transform 12s linear;
		transform: translate3d(-45px, 0px, 0px);
	}
}
.perso_up{
	background: url('/img/up.png');
	height: 60px;
	width: 50px;
	z-index: 10;
	-webkit-animation: sprite_haut 0.3s steps(9,end);
	-moz-animation: sprite_haut 0.3s steps(9,end);
	-ms-animation: sprite_haut 0.3s steps(9,end);
	animation: sprite_haut 0.3s steps(9,end);
	animation-fill-mode: forwards;
}
@-webkit-keyframes sprite_haut {
	from { background-position: 0 0; }
	to { background-position: 0 -640px;
		transition: transform 12s linear;
		transform: translate3d(0px, -48px, 0px);
	}
}

@-ms-keyframes sprite_haut {
	from { background-position: 0 0; }
	to { background-position: 0 -640px;
		transition: transform 12s linear;
		transform: translate3d(0px, -48px, 0px);
	}
}

@-moz-keyframes sprite_haut {
	from { background-position: 0 0; }
	to { background-position: 0 -640px;
		transition: transform 12s linear;
		transform: translate3d(0px, -48px, 0px);
	}
}

@keyframes sprite_haut {
	from { background-position: 0 0; }
	to { background-position: 0 -640px;
		transition: transform 12s linear;
		transform: translate3d(0px, -48px, 0px);
	}
}

.perso_down{
	background: url('/img/down.png');
	height: 60px;
	width: 50px;
	z-index: 10;
	-webkit-animation: sprite_bas 0.3s steps(9,end);
	-moz-animation: sprite_bas 0.3s steps(9,end);
	-ms-animation: sprite_bas 0.3s steps(9,end);
	animation: sprite_bas 0.3s steps(9,end);
	animation-fill-mode: forwards;
}
@-webkit-keyframes sprite_bas {
	from { background-position: 0 0; }
	to { background-position: 0 -600px;
		transition: transform 12s linear;
		transform: translate3d(0, 47px, 0px);
	}
}

@-ms-keyframes sprite_bas {
	from { background-position: 0 0; }
	to { background-position: 0 -600px;
		transition: transform 12s linear;
		transform: translate3d(0px, 47px, 0px);
	}
}

@keyframes sprite_bas {
	from { background-position: 0 0; }
	to { background-position: 0 -600px;
		transition: transform 12s linear;
		transform: translate3d(0px, 47px, 0px);
	}
}

.table{
	position: absolute;
	left: 90px; top: 150px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 185px;
    margin: 0px;
    border: 0px solid black;
    background-image: url("/img/parchemin.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.table_save{
    position: absolute;
    left: 690px; top: 380px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 185px;
    margin: 0px;
    border: 0px solid black;
    background-image: url("/img/parchemin.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
#texte_save{
	position: absolute;
    top: 30px; left:0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    font-family: "Blackadder ITC";

}
#texte{
	position: absolute;
	top: 30px; left:0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size:28px;
	font-family: "Blackadder ITC";
}
#texte1{
	position: absolute;
    top: 25px; left:0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:30px;
    font-family: "Blackadder ITC";

}
#bouton{
	position: absolute;
    top: 110px; left:53px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    font-family: "Blackadder ITC";
    width: 50px;
    height: 27px;
	border-radius: 8px;
	cursor: pointer;
}
#bouton1{
    position: absolute;
    top: 80px; left:40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    font-family: "Blackadder ITC";
    width: 80px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;

}
#bouton2{
    position: absolute;
    top: 110px; left:40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    font-family: "Blackadder ITC";
    width: 80px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;

}
#bouton3{
    position: absolute;
    top: 105px; left:40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    font-family: "Blackadder ITC";
    width: 80px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;

}
#bouton4{
    position: absolute;
    top: 105px; left:40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    font-family: "Blackadder ITC";
    width: 80px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;

}

.table_eat{
	float: left;
    position: absolute;
    right: 160px; top: 100px;
    transform: translate(-50%, -50%);
    width: 150px;
	display: table-cell;
    height: 185px;
    margin: 0px;
	vertical-align: center;
    background-image: url("/img/parchemin.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.table_drink{
    position: absolute;
    right: -75px; top: 100px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 185px;
    margin: 0px;
    border: 0px solid black;
    background-image: url("/img/parchemin.png");
    background-size: cover;
    background-repeat: no-repeat;
}

